[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyopenssl = "*"

[packages]
requests = "*"
flask = "*"
sunpy = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
